body{
  min-width: 420px;
}

.line{
    text-decoration: line-through;
}
.delete{
    margin-left: 2%;
    
}

.validate{
    margin-right: 15px;
}
.pop-up{
    background:#121010 ;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position:fixed;  
    font-size:25px  ;
    color:red;
    border-radius: 40px;
    opacity: 1;
    transition: opacity 1.5s;  
       
         
}
.pop-upx div:hover, .pop-upx div:focus {
    color: #fbdbdb;
}

.button{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

input {
    margin-right: 8px;
    box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
  
    &:focus {
      box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
    }
  }
  body, html {
    background-color:#EBECF0;
  }
  body, p, input, select, textarea, button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}
a:link { 
    text-decoration: none; 
  }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: #3c4146  /* Just a mild gray, you can change this to whatever you want */
  }
h1{
    text-decoration: solid;
    color:#BABECC;
    text-shadow: 2px 2px 2px #FFF
}



